<h1>Editing project space</h1>

<%= render "form", project_space: @project_space %>

<br>

<div>
  <%= link_to "Show this project space", @project_space %> |
  <%= link_to "Back to project spaces", project_spaces_path %>
</div>
