<div id="<%= dom_id project %>" class="rounded-lg border bg-white text-card-foreground shadow-sm">
  <div class="space-y-1.5 p-6 flex flex-row items-center gap-4">
    <div class="grid gap-1">
      <h3 class="text-2xl font-semibold leading-none tracking-tight">
        <%= link_to project.title, project %>
      </h3>
      
      <h4>
        <% if project.is_master %>
          Client Name
        <% else %>
          <%= link_to project.parent_project.title, project.parent_project %>
        <% end %>
      </h4>
    </div>
  </div>
</div>