<div class="flex flex-col gap-4">
  <div class="rounded-lg border bg-white text-card-foreground shadow-sm">
    <div class="space-y-1.5 p-6 flex flex-row justify-between items-center gap-4">
      <h3 class="text-2xl font-semibold leading-none tracking-tight">
        Projects
      </h3>

      <div class="flex items-center text-sm gap-4">
        <%= link_to "Add Project", new_project_path, class: "cursor-pointer inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-7 px-2 py-1" %>
      </div>
    </div>
  </div>

  <div id="projects" class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
    <% @projects.each do |project| %>
      <%= render project %>
    <% end %>
  </div>
</div>
