<div class="max-w-6xl w-full mx-auto">
  <h1 class="text-2xl">New project</h1>

  <div class="mt-8">
    <%= render "form", project: @project %>
  </div>

  <br>

  <div>
    <%= link_to "Back to projects", projects_path %>
  </div>
</div>
