<h1>Editing project item</h1>

<%= render "form", project_item: @project_item %>

<br>

<div>
  <%= link_to "Show this project item", @project_item %> |
  <%= link_to "Back to project items", project_items_path %>
</div>
